*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Universal/Common Style */
.black-color{
    color: #272727;
}
.text-color{
    color: #817e7f;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-style{
    border: none;
    background-color: #e55473;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: large;
}
.title{
    font-size: 35px;
}


/* Header Section */

header{
    background-color: #e5547321;
}

/* Banner Section */

.banner{
    margin: 0 10%;
    display: flex;
    padding-top: 50px;
    align-items: center;
    justify-content: space-between;
}
.description{
    width: 550px;
}
.banner-img{
    height: 750px;
}
.description-title{
    font-size: 60px;
    font-weight: 700;
}
.description-text{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}



/* Main Section */


/* Featured Flower Section */
.featured{
    padding: 150px 10%;
    text-align: center;
}
.featured-text{
    margin: 30px auto;
    width: 40%;
}
.flowers{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    height: 400px;
    /* align-items: center; */
}
.flower{
    width: 32%;
    height: 100%;
    padding-top: 100px;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
}
.flower img{ 
    height: 100%;
}
.bg-color1{
    background-color: #f2dee7;
}
.bg-color2{
    background-color: #d9eff1;
}
.bg-color3{
    background-color: #e3ebdb;
}
.flower-names{
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
}
.names{
    font-size: 20px;
    font-weight: bold;
}



/* Services Section */
.services{
    margin: 50px 10%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #f4f4f4;
    padding: 50px;
}
.service{
    justify-content: center;
    text-align: center;
}

/* Hot Deal Section */

.hotDeal{
    background-color: #fdf6f8;
    padding: 50px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hotDeal-text{
    padding: 100px;
    text-align: center;
}
.deal-title{
    font-size: 35px;
}
.deal-text{
    margin: 20px auto;
}
.deal-title span{
    color: #e55473;
}

/* Instagram Photo Section */

.instagram{
    padding: 50px 10%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.insta-title{

}
.insta-pics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.insta-text{
    margin: 20px auto;
    width: 50%;
}
.pics{
    width: 23%;
}

/* Subscription Section */
.subscribe{
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 10%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 350px;
}
.subscribe div{
    padding-top: 100px;
}
.email{
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    width: 50%;
}

/* Blog Section */
.blog{
    margin: 50px 10%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
.blog-title{

}
.blog-text{

}
.blogs{
    display: flex;
    justify-content: space-between;
}
.blog-columns{
    width: 31%;
}
.blog-img{
    width: 100%;
}
.blog-description{
    border: 3px solid rgba(0, 0, 0, 0.02);
    background-color: rgba(0, 0, 0, 0.02);
    border-top: none;
    margin-top: -4px;
    padding: 20px 10px;
}
.blog-description a{
    color: black;
    font-weight: 400;
}

/* Footer */
footer{
    margin-top: 50px;
    background-color: #111010;
}
.footer{
    padding: 150px 10%;
    text-align: center;
    /* height: 350px; */
}
.footer-title{
    color: white;
}
.footer-title span{
    color: #e35372;
}
.footer-text{
    color: white;
    width: 45%;
    margin: 20px auto;
}
.copywrite{
    font-size: 12px;
}